<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sound.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @sound.location %>
</p>

<%= link_to 'Edit', edit_sound_path(@sound) %> |
<%= link_to 'Back', sounds_path %>
